article {
    margin-bottom: 30px;

}
.enfase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.enfase > i {
    text-align: center;
    font-size: 0.9em;
}