section > h1 {
    margin-bottom: 20px;
}

.character-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px; /* Espaçamento entre os itens */
    text-align: center;
}

.img-characters {
    background-color:#3486243f; /* Cor de fundo */
    padding: 10px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
}

.img-characters > img { 
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.img-characters > p > strong {
    font-size: 1.3rem;
    color: rgb(1, 122, 1);
    font-weight: 700 ;
}

.img-characters > p {
    margin-top: 10px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;
}

/* Centralizar o último card */
.character-gallery > .img-characters:last-child {
    grid-column: 2 / 3; /* Posiciona o último card na segunda coluna */
    justify-self: center; /* Centraliza o card */
}